conda create -n hidenn-fg python=3.8.16
y
conda activate hidenn-fg
conda install -c conda-forge cudnn=8.1.0.77 
y
conda install -c conda-forge cudatoolkit=11.2.2
y
pip install tensorflow-gpu==2.9.3
conda install numpy=1.23.5
y
conda install pandas=2.0.3
y
conda install scikit-learn=1.3.0
y
conda install jupyter=1.0.0
y
pip install --user tensorflow==2.9.3
